* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

html {
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Georgia', serif;
  font-size: 1.6rem;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

.caption {
  opacity: 0.6;
  text-align: center;
}

blockquote {
  border-left: 5px solid lightgrey;
  padding-left: 1rem;
}

hr {
  border: none;
  border-top: 1px solid lightgrey;
  margin: 2rem 2rem;
}

.muted {
  opacity: 0.6;
}

header {
  padding: 2rem;
  background: lightgreen;
}

footer {
  padding: 2rem;
  background: lightgreen;
}

.post {
  flex-direction: column;
  max-width: 64rem;
  margin: 2rem auto;
  padding: 2rem;
  display: flex;
  gap: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

  .post-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 4rem;

    ul.tags {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.4rem;

      li {
        background: lightgrey;
        color: darkslategray;
        font-size: 1.4rem;
        text-transform: capitalize;
        letter-spacing: 1px;
        padding: 0.4rem 0.8rem;
        border-radius: 0.5rem;
      }
    }
  }

  ul.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    img {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    }
  }
}
